# Data Analysis - ETL using AWS S3 and Python

### 1. Import required libraries

In [29]:
# Install boto3 library
# pip install boto3
# pip install fastparquet==0.6.0

SyntaxError: invalid syntax (<ipython-input-29-44739282a1c1>, line 3)

In [21]:
# Import libraries
import boto3
import pandas as pd
from io import StringIO, BytesIO      # StringIO buffer for csv, BytesIO buffer for parquet 
from datetime import datetime, timedelta

### 2. Access nba data from aws s3 bucket to pandas dataframe

In [8]:
# function to access s3 bucket objects
# aws_s3_access_key = 'AKIAQ45SIJGWR7RZK4GZ'
# aws_s3_secret_access_key = '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'
# def retrieve_s3_objects(bucket, filters=None):
#     s3_client = boto3.resource(
#                     's3',
#                     aws_access_key_id=aws_s3_access_key,
#                     aws_secret_access_key=aws_s3_secret_access_key
#                 )
#     bucket = s3_client.Bucket(bucket)

#     # Output the object names
#     bucket_obj = bucket.objects.filter(Prefix=filters)
#     print('Existing S3 objects:')
#     for obj in bucket_obj:
#         print(obj)
    
#     return bucket

In [9]:
# get objects
# bucket_name = "data-analysis-with-nba"
# bucket_obj1 = retrieve_s3_objects(bucket=bucket_name, filters="nba1")
# bucket_obj2 = retrieve_s3_objects(bucket=bucket_name, filters="nba2")

In [10]:
# get the csv data
# csv_obj = bucket.Object(key='nba1/nba1.csv').get().get('Body').read().decode('utf-8')
# csv_obj

In [11]:
aws_s3_access_key = 'AKIAQ45SIJGWR7RZK4GZ'
aws_s3_secret_access_key = '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'
bucket = "data-analysis-with-nba"
s3_client = boto3.resource(
                    's3',
                    aws_access_key_id=aws_s3_access_key,
                    aws_secret_access_key=aws_s3_secret_access_key
                )
bucket = s3_client.Bucket(bucket)

In [12]:
# get s3 objects and combined them
bucket_obj1 = bucket.objects.filter(Prefix="nba1")
bucket_obj2 = bucket.objects.filter(Prefix="nba2")
objects = [obj for obj in bucket_obj1] + [obj for obj in bucket_obj2]

In [13]:
objects

[s3.ObjectSummary(bucket_name='data-analysis-with-nba', key='nba1/nba1.csv'),
 s3.ObjectSummary(bucket_name='data-analysis-with-nba', key='nba2/nba2.csv')]

In [14]:
# Get the columns for pandas dataframe
csv_obj = bucket.Object(key=objects[0].key).get().get('Body').read().decode('utf-8')
data = StringIO(csv_obj)
df = pd.read_csv(data, delimiter=',')
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [15]:
# create a dataframe
nba_df = pd.DataFrame(columns=df.columns)
for obj in objects:
    csv_obj = bucket.Object(key=obj.key).get().get('Body').read().decode('utf-8')
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=',')
    nba_df = nba_df.append(df, ignore_index=True)

In [16]:
nba_df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [17]:
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

### 3. Data processing and cleaning as per requiremnets

In [18]:
# create a new dataframe with selected columns
new_columns = ['Name', 'Team', 'Age', 'Height', 'Weight']
nba_df1 = nba_df.loc[:, new_columns]

In [19]:
nba_df1.head()

            Name            Team   Age Height  Weight
0  Avery Bradley  Boston Celtics  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics  25.0    6-6   235.0
2   John Holland  Boston Celtics  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics  29.0   6-10   231.0

In [20]:
nba_df1.shape

(458, 5)

### 4. Write processed data to aws S3 target bucket in parquet format

In [22]:
key = 'nba_report_' + datetime.today().strftime("%Y%m%d_%H%M%S") + '.parquet'

In [31]:
# out_buffer = BytesIO()
# nba_df1.to_parquet(out_buffer, index=False)
# bucket_target = s3_client.Bucket('data-analysis-with-nba-target')
# bucket_target.put_object(Body=out_buffer.getvalue(), Key=key)